In [2]:
import pandas as pd

file_path = 'Online Retail-unclean.csv'
data = pd.read_csv(file_path)
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [5]:
missing_data = data.isnull().sum()
missing_data = missing_data[missing_data > 0]
print(missing_data)

Description      1454
UnitPrice           5
CustomerID     135086
Country             8
dtype: int64

In [12]:
missing_data = data[data.isnull().any(axis=1)]
grouped_missing = missing_data.isnull().sum(axis=1).groupby(missing_data['Country']).sum()
for country, count in grouped_missing.items():
    print(f"Negara '{country}' memiliki missing data jumlahnya {count}")

Negara 'Australia' memiliki missing data jumlahnya 5
Negara 'Bahrain' memiliki missing data jumlahnya 2
Negara 'Canada' memiliki missing data jumlahnya 3
Negara 'EIRE' memiliki missing data jumlahnya 711
Negara 'France' memiliki missing data jumlahnya 66
Negara 'Hong Kong' memiliki missing data jumlahnya 288
Negara 'Israel' memiliki missing data jumlahnya 47
Negara 'Portugal' memiliki missing data jumlahnya 39
Negara 'Singapore' memiliki missing data jumlahnya 3
Negara 'Switzerland' memiliki missing data jumlahnya 125
Negara 'United Kingdom' memiliki missing data jumlahnya 135054
Negara 'Unspecified' memiliki missing data jumlahnya 202

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541904 non-null  float64
 6   CustomerID   406823 non-null  float64
 7   Country      541901 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [14]:
data = data.dropna(subset=['Description'])
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 540455 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    540455 non-null  object
 1   StockCode    540455 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     540455 non-null  int64
 4   InvoiceDate  540455 non-null  object
 5   UnitPrice    540450 non-null  float64
 6   CustomerID   406823 non-null  float64
 7   Country      540447 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 37.1+ MB
None

In [16]:
mean_unit_price = data['UnitPrice'].mean()
data.loc[:, 'UnitPrice'] = data['UnitPrice'].fillna(mean_unit_price)
print(data['UnitPrice'].isnull().sum())

0

In [19]:
data.loc[:, 'CustomerID'] = data['CustomerID'].fillna(0)
print(data['CustomerID'].isnull().sum())

0

In [20]:
data.loc[:, 'Country'] = data['Country'].fillna('NA')
print(data['Country'].isnull().sum())

0

In [22]:
data.to_excel('data_bersih.xlsx', index=False)
print("Data bersih telah disimpan ke ' Online-Retail-Clean.xlsx'")

Data bersih telah disimpan ke ' Online-Retail-Clean.xlsx'

In [28]:
# Konversi InvoiceDate ke datetime dengan validasi
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], errors='coerce')

# Periksa apakah ada nilai yang gagal dikonversi
invalid_dates = data[data['InvoiceDate'].isnull()]
print(f"Ada {len(invalid_dates)} baris dengan tanggal tidak valid.")

Ada 3 baris dengan tanggal tidak valid.

C:\Users\aditb\AppData\Local\Temp\ipykernel_16188\2785946631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], errors='coerce')

In [29]:
# Menghapus baris dengan nilai InvoiceDate tidak valid
data = data.dropna(subset=['InvoiceDate'])

# Verifikasi bahwa tidak ada lagi tanggal yang tidak valid
print(f"Ada {data['InvoiceDate'].isnull().sum()} baris dengan tanggal tidak valid setelah penghapusan.")

Ada 0 baris dengan tanggal tidak valid setelah penghapusan.

In [30]:
import pandas as pd

# Pastikan InvoiceDate dalam format datetime
data.loc[:, 'InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

# Tambahkan kolom Month menggunakan .loc
data.loc[:, 'Month'] = data['InvoiceDate'].dt.to_period('M')

# Agregasi total UnitPrice per negara per bulan
aggregated_data = data.groupby(['Country', 'Month'])['UnitPrice'].sum().reset_index()

# Simpan hasil ke dalam file Excel
aggregated_data.to_excel('Aggregasi.xlsx', index=False)

print("File 'Aggregasi.xlsx' berhasil disimpan!")

File 'Aggregasi.xlsx' berhasil disimpan!

In [31]:
import math

# Menghitung jumlah data per negara
country_counts = data['Country'].value_counts().reset_index()
country_counts.columns = ['Country', 'TotalData']

# Fungsi untuk menghitung ukuran sampel
def calculate_sample_size(total, alpha):
    Z = {0.03: 1.88, 0.01: 2.58}[alpha]  # Z-score berdasarkan tingkat keyakinan
    p = 0.5  # Asumsi probabilitas keberhasilan
    E = alpha  # Margin of error
    n = (Z**2 * p * (1 - p)) / (E**2)  # Rumus ukuran sampel
    n = math.ceil(n)  # Pembulatan ke atas
    return min(total, n)  # Tidak lebih besar dari total populasi

# Menambahkan kolom untuk ukuran sampel dengan alpha 0.03 dan 0.01
country_counts['Sample_alpha_0.03'] = country_counts['TotalData'].apply(lambda x: calculate_sample_size(x, 0.03))
country_counts['Sample_alpha_0.01'] = country_counts['TotalData'].apply(lambda x: calculate_sample_size(x, 0.01))

# Menyimpan hasil ke file Excel
country_counts.to_excel('Sampling.xlsx', index=False)

print("File Sampling.xlsx berhasil disimpan!")

File Sampling.xlsx berhasil disimpan!

In [ ]:
data.to_excel('Online Retail-unclean.xlsx', index=False)
print("File berhasil disalin sebagai 'Online Retail-unclean.xlsx'")